Eclipse_WS/.metadata
Eclipse_WS/MobileAutomation/bin
Eclipse_WS/MobileAutomation/.settings
Eclipse_WS/MobileAutomation/.project
Eclipse_WS/MobileAutomation/.classpath
Eclipse_WS/MobileAutomation/test-output/
Eclipse_WS/MobileAutomation/target/test-classes
